
button {
    color: var(--color-primary-light);
    border-radius: 3px;
    border: none;
    background-color: var(--color-accent);
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    user-select: none;
}


button:active {
    transform: scale(0.98);
}


button.icon i {
    color: inherit;
    font-size: inherit;
    margin: 0;
}


button.ghost {
    background-color: transparent !important;
    color: var(--color-accent);
}

button.ghost:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

button.icon.light.active,
button.icon.secondary.active {
    outline: 4px solid var(--color-primary);
}

button.secondary {
    background-color: var(--color-secondary);
    color: var(--color-light);
}

button.light {
    background-color: var(--color-light);
    color: var(--color-secondary-light);
}




button.huge {
    font-size: 50px;
    padding: 5px 20px;
    min-width: 180px;
}

button.large {
    font-size: 40px;
    padding: 5px 20px;
    min-width: 180px;
}

button.medium {
    font-size: 30px;
    padding: 0 20px;
    height: 40px;
}

button.small {
    font-size: 20px;
    padding: 4px 15px;
}

button.medium:not(.icon) i {
    font-size: 17px;
    vertical-align: middle;
    transform: translateY(-2px);
    margin-left: -2px;
}


button.icon {
    padding: 0;
    min-width: 0;
}

button.icon.huge {
    height: 60px;
    width: 60px;
    font-size: 40px;
}


button.icon.large {
    height: 50px;
    width: 50px;
    font-size: 27px;
}

button.icon.medium {
    height: 40px;
    width: 40px;
    font-size: 23px;
}

button.icon.small {
    height: 30px;
    width: 30px;
    font-size: 17px;
    padding: 1px 0 0 1px;
}


button.icon.custom {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px auto;
}

button.icon.custom.blade {
    background-image: url(../../assets/icons/blade.png);
}

button.icon.custom.banig {
    background-image: url(../../assets/icons/banig.png);
}

button.icon.off {
    color: #777777;
}

button.icon.off:after {
    content: '';
    background-image: url(../../assets/icons/disabled-line.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
}

button.icon.disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
    position: none;
}

h2 {
    font-size: 65px;
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 45px;
    margin: 0;
    font-weight: normal;
}

h6 {
    font-size: 35px;
    margin: 0;
    font-weight: normal;
}

.modals {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(30, 30, 30, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 30px;
    background-color: var(--color-primary);
    border-radius: 5px;
    position: relative;
    min-width: 400px;
}

.modal button.close-btn {
    position: absolute;
    right: 30px;
    top: 30px; 
}

.modal button.close-btn i {
    font-size: 30px;
    transform: translate(1px, 1px);
}