.main-window.dashboard {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 100px 0 50px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-dark));   
    
    user-select: none;
}

.main-window.dashboard > .gallery, 
.main-window.dashboard > .showcase {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main-window.dashboard:not(.showcasing) > .showcase {
    pointer-events: none;
}

/* .main-window.dashboard * {
    outline: 1px solid red;
} */

.main-window.dashboard > .gallery > header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    pointer-events: none;
    
    transition: 700ms ease;
}

.main-window.dashboard > .gallery > header .center {
    width: 100%;
    text-align: center;
    z-index: 0;
    position: absolute;
}

.main-window.dashboard > .gallery > header .right {
    width: 100%;
    text-align: right;
    position: absolute;
    right: 40px;
    top: 0;
    pointer-events: auto;
    z-index: 3;
}

.main-window.dashboard > .gallery .racks {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 150px;
    padding-bottom: 200px;
}

.main-window.dashboard > .gallery .racks::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-window.dashboard > .gallery .rack {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: start;
    padding: 0 15% 0 15%;
    margin-bottom: 100px;
    background-image: url(../../assets/images/rack.png);
    background-size: 90% 60px;
    background-position: center 167px;
    background-repeat: no-repeat;
}


.main-window.dashboard > .gallery .product {
    height: 250px;
    width: 250px;
    position: relative;
}

.main-window.dashboard > .gallery .product .preview {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 450ms ease;
    cursor: pointer;
}

.main-window.dashboard > .gallery .product .preview:hover {
    transform: scale(1.05) translateY(-4px);
    
}

.main-window.dashboard > .gallery .product .preview:before {
    content: ' ';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(247,238,210, 0.1), rgba(247,238,210, 0) 70%);
    top: -60px;
    left: -25px;
    transition: 700ms ease;
}

.main-window.dashboard > .gallery .product .preview:not(:hover):before {
    opacity: 0;
}

.main-window.dashboard > .gallery .product canvas {
    height: 250px;
    width: 250px;
    transform: translateY(-30px);
    transition: 500ms ease-out;
}

.main-window.dashboard > .gallery .product:not(.ready) canvas {
    transform: translateY(-50px);
    opacity: 0;
}

.main-window.dashboard > .gallery .product .lower {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-window.dashboard > .gallery .product .tag {
    margin: auto;
    width: fit-content;
    background-color: var(--color-light2);
    padding: 3px 20px;
    border-radius: 3px;
    color: var(--color-primary);
    font-size: 25px;
}

.main-window.dashboard > .gallery .overlays {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}

.main-window.dashboard > .gallery .overlays .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: linear-gradient(0, var(--color-primary-dark), rgba(0,0,0,0));
    opacity: 0.5;
}

.main-window.dashboard > .gallery .overlays .top {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-primary), rgba(0,0,0,0));
    opacity: 0.9;
}




/* SHOWCASE */
.main-window.dashboard.showcasing > .gallery > header {
    /* transform: translateY(-100px); */
    opacity: 0 !important;
    pointer-events: none;
}

.main-window.dashboard.showcasing > .gallery > main {
    transition: 400ms ease;
    opacity: 0;
}

.main-window.dashboard > .showcase * {
    /* outline: 1px solid red; */
}

.main-window.dashboard > .showcase > header {
    position: absolute;
    z-index: 2;
    width: 100%;
}
.main-window.dashboard > .showcase > header .left {
    position: absolute;
    top: 40px;
    left: 40px;
    
    transition: 700ms ease;
}

.main-window.dashboard > .showcase > header .center {
    width: 100%;
    text-align: center; 
    margin-top: 40px;
    transition: 700ms ease;
}


.main-window.dashboard > .showcase > header .logo {
    height: 45px;
    transform: translateY(5px);
    margin-right: 10px;
}

.main-window.dashboard > .showcase > main .name {
    width: 100%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: 80px;
    left: 0;
    user-select: none;
    transition: 900ms ease;
}


.main-window.dashboard > .showcase > footer {
    position: absolute;
    bottom: 40px;
    left: 40px;
    transition: 900ms ease;
}

.main-window.dashboard > .showcase .previews {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 0;

    transition: 900ms ease;
}

.main-window.dashboard > .showcase .previews::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-window.dashboard > .showcase .preview {
    /* outline: 1px solid red; */
    height: 450px;
    width: 450px;
    position: absolute;
    top: 120px;
    transition: 500ms ease;
}
 

@keyframes bounce {
    100% { transform: translateY(-10px); }
}

.main-window.dashboard > .showcase .preview.active .canvas-wrapper {
    animation: bounce 900ms 500ms linear infinite alternate;
    /* transition: 250ms ease-out; */
}

.main-window.dashboard > .showcase .preview.empty {
    width: 500px;
}

.main-window.dashboard > .showcase .preview:not(.active,.empty) {
    cursor: pointer;
}

.main-window.dashboard > .showcase .preview:not(.active) {
    transform: scale(0.7) !important;
    opacity: 0.3 !important;
    filter: blur(5px) !important;
}

.main-window.dashboard > .showcase .preview canvas {
    height: 100%;
    width: 100%;
    /* transition: 500ms ease; */
}

.main-window.dashboard > .showcase .preview:not(.active) canvas {
    transition: 900ms ease;
}

.main-window.dashboard > .showcase .preview:nth-child(1) {
    left: 550px;
}

.main-window.dashboard > .showcase .preview:nth-child(2) {
    left: 1050px;
}




/* BEFORE SHOWCASE */
.main-window.dashboard:not(.showcasing) > .showcase {
    /* display: none; */
}
.main-window.dashboard:not(.showcasing) > .showcase > header .left {
    opacity: 0;
    transform: translateY(-100px);
    transition: 250ms ease-out;
}

.main-window.dashboard:not(.showcasing) > .showcase > header .center {
    opacity: 0;
    transform: translateY(-100px);
    transition: 250ms ease-out;
}

.main-window.dashboard:not(.showcasing) > .showcase > main .name {
    opacity: 0;
    transform: translateY(70px);
    transition: 250ms ease-out;
}


.main-window.dashboard:not(.showcasing) > .showcase > footer {
    opacity: 0;
    transform: translateY(70px);
    transition: 250ms ease-out;
}

.main-window.dashboard:not(.showcasing) > .showcase .preview:not(.active) {
    opacity: 0 !important;
    transform: scale(0.8) translateY(70px);
    transition: 250ms ease-out;
}

.main-window.dashboard:not(.showcasing) > .showcase canvas {
    transform: translateY(70px);
    transition: 250ms ease-out;
}



.main-window.dashboard > .modals {
    overflow: hidden;
}

.main-window.dashboard > .modals.create { 
    transition: 300ms ease;
}

.main-window.dashboard > .modals .create-modal {
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.main-window.dashboard > .modals .create-modal .close-btn {
    z-index: 100;
}

.main-window.dashboard > .modals .create-modal > .sections {
    flex: auto;
    height: 550px;
    position: relative;
}

.main-window.dashboard > .modals .create-modal > footer {
    flex-basis: content;
    text-align: right;
    margin-top: 20px;
}


.main-window.dashboard .create-modal > .sections > .types,
.main-window.dashboard .create-modal > .sections > .templates {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 400ms ease;
}

.main-window.dashboard .create-modal:not(.types) > .sections > .types,
.main-window.dashboard .create-modal:not(.templates) > .sections > .templates { 
    opacity: 0; 
    transition: 200ms ease-out;
    pointer-events: none;
}

.main-window.dashboard .create-modal:not(.types) > .sections > .types { transform: translateX(-50px); }
.main-window.dashboard .create-modal:not(.templates) > .sections > .templates { transform: translateX(50px); }


.main-window.dashboard .create-modal > .sections > .types > header,
.main-window.dashboard .create-modal > .sections > .templates > header {
    flex-basis: content;
}

.main-window.dashboard .create-modal > .sections > .types > main,
.main-window.dashboard .create-modal > .sections > .templates > main {
    flex: auto;
    overflow-y: auto;
}

.main-window.dashboard .create-modal > .sections > .types .types-selection {

}

.main-window.dashboard .create-modal > .sections > .types > main::-webkit-scrollbar,
.main-window.dashboard .create-modal > .sections > .templates > main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-window.dashboard .create-modal > .sections > .types > header,
.main-window.dashboard .create-modal > .sections > .templates > header {
    text-align: center;
    margin-bottom: 15px;
}

.main-window.dashboard .create-modal > .sections > .types .type-item,
.main-window.dashboard .create-modal > .sections > .templates .template-item {
    display: inline-block;
    vertical-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease; 
}

.main-window.dashboard .create-modal > .sections > .types .type-item:hover,
.main-window.dashboard .create-modal > .sections > .types .type-item.active,
.main-window.dashboard .create-modal > .sections > .templates .template-item:hover,
.main-window.dashboard .create-modal > .sections > .templates .template-item.active {
    background-color: rgba(230, 223, 181, 0.15);
}

.main-window.dashboard .create-modal > .sections > .types .type-item.active,
.main-window.dashboard .create-modal > .sections > .templates .template-item.active {
    outline: 5px solid var(--color-accent);
} 


.main-window.dashboard .create-modal > .sections > .types .type-item .preview,
.main-window.dashboard .create-modal > .sections > .templates .template-item .preview {
    height: 200px;
    width: 200px;
}


.main-window.dashboard .create-modal > .sections > .types .type-item .label,
.main-window.dashboard .create-modal > .sections > .templates .template-item .label {
    text-align: center;
    font-size: 35px;
}

.main-window.dashboard .create-modal > .sections > .types .type-item .preview canvas,
.main-window.dashboard .create-modal > .sections > .templates .template-item .preview canvas {
    height: 100%;
    width: 100%;
}

.main-window.dashboard .create-modal > .sections > .templates .template-item .preview canvas {
    background-color: var(--color-weaved);
}


.main-window.dashboard .create-modal > .sections > .templates .create-back-btn {
    height: 90px;
    width: fit-content;
    background-color: var(--color-light);
    border-radius: 5px;
    position: absolute;
    left: -40px;
    top: -40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px 0 20px;
    cursor: pointer;
}

.main-window.dashboard .create-modal > .sections > .templates .create-back-btn:active {
    transform: scale(0.99);
}

.main-window.dashboard .create-modal > .sections > .templates .create-back-btn i {
    color: var(--color-primary);
    font-size: 30px;
}

.main-window.dashboard .create-modal > .sections > .templates .create-back-btn canvas { 
    height: 120px;
    width: 120px;
    position: absolute;
    top: -30px;
    left: 50px;
}

.main-window.dashboard .create-modal > .sections > .templates .create-back-btn label {
    color: var(--color-primary);
    font-size: 40px;
    margin-left: 130px;
    cursor: pointer;
}

.main-window.dashboard .create-modal > .sections > .templates > header {
    margin-left: 300px;
    text-align: left;
}




.main-window.dashboard > .modals.create .create-modal { 
    transition: 500ms ease;
}

.main-window.dashboard > .modals:not(.create) { 
    pointer-events: none;
    opacity: 0;
    transition: 300ms ease-out;
}

.main-window.dashboard > .modals:not(.create) .create-modal {
    opacity: 0;
    transform: translateY(70px);
    transition: 150ms ease-out;
}
