body {
    margin: 0;
}

.main-window.embroidery {
    height: 100%;
    width: 100%;
    background-color: var(--color-weaved);
    box-sizing: border-box;
    overflow: hidden;
}

.main-window.embroidery > .blocks,
.main-window.embroidery > .lifted,
.main-window.embroidery > .overlay,
.main-window.embroidery > .mouse,
.main-window.embroidery > .actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    z-index: 1;
}

.main-window.embroidery > .blocks {
    overflow: hidden;
}


.main-window.embroidery > .blocks canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.main-window.embroidery > .actions,
.main-window.embroidery > .actions * {
    /* pointer-events: none; */
    pointer-events: none;
}

.main-window.embroidery > .actions button {
    pointer-events: auto;
}

.main-window.embroidery > .actions > header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    padding: 20px;
}


.main-window.embroidery > .actions > header > .center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    user-select: none;
}

.main-window.embroidery > .actions > header h3 {
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    margin-top: 25px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.main-window.embroidery > .actions .color-selection {
    margin-bottom: 10px;
}

.main-window.embroidery > .actions .subactions {
    float: right;
}

.main-window.embroidery > .mouse[data-mode='embroider'] {
    cursor: cell; 
}

.main-window.embroidery > .mouse[data-mode='embroider'][data-orientation='h']:active {
    cursor: e-resize !important; 
}

.main-window.embroidery > .mouse[data-mode='embroider'][data-orientation='v']:active {
    cursor: s-resize !important; 
}

.main-window.embroidery > .mouse[data-mode='move'] {
    cursor: grab;
}

.main-window.embroidery > .mouse[data-mode='move']:active {
    cursor: grabbing;
}

.main-window.embroidery .logs {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
    color: #111;
    font-family: sans-serif;
    z-index: 1000;
}

.rendered-block {
    position: absolute;
    top: 0;
    left: 0;
}

.rendered-block.thread {
    z-index: -1;
}

.blocks.h {
    background-color: gray;
}

.blocks.v {
    background-color: blue;
}