.main-window.workshop {
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    box-sizing: border-box;
    padding: 30px 100px 0 50px;
    display: flex;
    flex-direction: column;
}

.main-window.workshop > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: content;
}

.main-window.workshop > main {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex: auto;
    height: 0;
}

.main-window.workshop > main > .preview {
    margin-top: 20px;
}

.main-window.workshop > main > .preview .name {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.main-window.workshop > main > .preview canvas {
    /* outline: 1px solid red; */
    width: 500px;
    height: 500px;
}

.main-window.workshop > main > .controls {
    width: 600px;
    height: 100%;
    overflow-y: visible;
}

.main-window.workshop > main > .controls .part {
    margin-bottom: 40px;
}


.main-window.workshop > main > .controls .part:last-child {
    margin-bottom: 0;
}

.main-window.workshop > main > .controls .part:not(.embroidery) > header .right {
    display: none;
}

.main-window.workshop > main > .controls .part > header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 15px;
}

.main-window.workshop > main > .controls .part > header label {
    font-size: 50px;
}


.main-window.workshop > main > .controls .part > table {
    width: 100%;
}

.main-window.workshop > main > .controls .part > table td {
    padding-bottom: 10px;
}

.main-window.workshop > main > .controls .layer label {
    font-size: 30px;
}


.main-window.workshop > main > .controls .layer button {
    width: 130px;
}


.main-window.workshop > main > .controls .layer .color-bar {
    /* width: 150px; */
    height: 27px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
}

.main-window.workshop > main > .controls .layer.no-label .color-bar {
    margin-left: 0;
}


.main-window.workshop > .modals:not(.color-picker, .rename) { display: none; }
.main-window.workshop > .modals:not(.color-picker) .color-picker-modal,
.main-window.workshop > .modals:not(.rename) .rename-modal { display: none; }

.main-window.workshop .color-picker-modal {
    max-width: 420px;
    user-select: none;
}

.main-window.workshop .color-picker-modal .color-item {
    height: 60px;
    width: 60px;    
    background-color: A18738;
    border: 7px solid var(--color-light);
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    /* margin-bottom: 5px; */
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 100ms ease;
}

.main-window.workshop .color-picker-modal .color-item:hover,
.main-window.workshop .color-picker-modal .color-item.active {
    /* outline: 5px solid var(--color-light);
    border-radius: 1px; */
    transform: scale(1.14);
}

.main-window.workshop .color-picker-modal .color-item:active {
    transform: scale(1.1);
}

.main-window.workshop .rename-modal input {
    width: 400px;
    box-sizing: border-box;
    font-size: 30px;
    padding: 5px 15px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: normal;
    outline: 3px solid transparent;
    transition: outline ease 50ms; 
}

.main-window.workshop .rename-modal input::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.main-window.workshop .rename-modal input:focus {
    outline: 3px solid var(--color-accent);
}

.main-window.workshop .rename-modal .button-container {
    text-align: center;
}